body {
  margin: 0;
  font-family: 'Lato', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-height: 100vh;
}
@media(max-width: 900px){
  body{
font-size: 14px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* text */

h1, h2{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  margin: 0 0 0 1rem;
}

/* h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
} */




.vocabPage{
  background-image: linear-gradient(#3c5e71, #659dbd);
  background-color: #659dbd;
}

.outer{
  background-image: url('https://images.unsplash.com/photo-1489843337048-36ef1aaac7dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  /* filter: brightness(70%) saturate(50%); */
  /* https://unsplash.com/@nikolasbehrendt */
}



.questionTile{
  /* border-radius: .2em; */
  border: 1px solid grey;
  width: 7.3em;
  height: 7.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8d8741;
  background-image: linear-gradient(#333, #202020);
  margin: 0em;
  font-size: 1.2rem;
  color: white;
  box-shadow: .1em .1em .1em #999;
  letter-spacing: 1px;
  cursor: pointer;
}

@keyframes shake {

  10%,
  90% {
      transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
      transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
      transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
      transform: translate3d(2px, 0, 0);
  }
}

.questionTile:hover{
  box-shadow: 0 0 .5em yellow;
  animation: shake 1.22s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  color: yellow;
}
.questionTile:active{
  box-shadow: 0 0 .5em limegreen;
  animation: shake 1.22s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  color: limegreen;
}


.wrong {
  background-color: red;
  background-image: unset;
}

.selected {
  box-shadow: 0 0 .5em limegreen;
  animation: shake 1.22s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  color: limegreen;
}

.used {
  /* font-size: 1.1em; */
  background-color: #999;
  color: #666;
  background-image: unset;
  cursor: unset;
  animation: none;
  box-shadow: none;
}

.used:hover{
  animation: none;
  background-color: #999;
  color: #333;
  box-shadow: none;
}

.correctTileTick{
  display: flex;
  color: green;
  font-size: 3rem;
}