html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-height: 100vh;
}
@media(max-width: 900px){
  body{
font-size: 14px;
  }
}

.navbar{
  padding: .5rem .4rem 0 1rem !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(https://tomsclassroom.com/react/navIcon.png) !important;
}

.navbar-nav{
  background-color: whitesmoke;
  /* padding-left: 1em !important; */
}

/* text */

h1, h2{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  margin: 0 0 0 1rem;
}




.vocabPage{
  /* background-image: linear-gradient(#3c5e71, #659dbd); */

  /* background-color: #659dbd; */
}

.outer{
  background-image: url('https:www.tomsclassroom.com/newyork1.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-color: black;
}

/* @media(max-width: 1000px){
  .outer{
    background-image: url('https:www.tomsclassroom.com/city3.jpg');
    background-size: cover;
  }
} */

.correct{
  border: 1px solid yellow !important;
}
.wrong{
  padding: .5em;
  border-radius: .3em;
  color: #666;
  cursor:not-allowed;
}

.question{
}

.questionTile{
  border: 1px solid grey;
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8d8741;
  background-image: linear-gradient(#333, #202020);
  margin: .3em;
  font-size: 1.2rem;
  color: white;
  box-shadow: .1em .1em .1em #999;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 0 !important;

}


@media(min-width: 1000px){
  .questionTile{
    /* border-radius: .2em; */

    width: 7.3em;
    height: 7.3em;

  }
}


@keyframes shake {

  10%,
  90% {
      transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
      transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
      transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
      transform: translate3d(2px, 0, 0);
  }
}

/* .questionTile:hover{
  animation: shake 1.22s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
} */


.questionTile:active{
  box-shadow: 0 0 .5em limegreen;
  animation: shake 1.22s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  color: limegreen;
}

@media(min-width:1000px){
 /* check if tiles can be made to not keep selected status when unclicked */
 .questionTile:hover{
  box-shadow: 0 0 .5em yellow;
  animation: shake 1.22s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  color: yellow;
}

}

.wrong {
  /* background-color: red; */
  background-image: unset;
}

.selected {
  box-shadow: 0 0 .5em limegreen;
  animation: shake 1.22s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  color: limegreen;
}

.used {
  display: flex;
  background-color: #999;
  color: #666;
  background-image: unset;
  cursor: unset;
  animation: none;
  box-shadow: none;
  font-size: 1em;
  padding: .2em;
  display: none;
}

.used:hover{
  animation: none;
  background-color: #999;
  color: #333;
  box-shadow: none;
}

.correctTileTick{

  color: green;
  font-size: .8rem;
  padding: 0;
}